<h1>Answers for questions...</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Asking</div>
  <div class="card-body">
    <h5 class="card-title"><%= @answer %></h5>
  </div>

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Answer</div>
  <div class="card-body">
    <h5 class="card-title"><%= @responce %></h5>
  </div>
<%# <h2 class="display-2"><%= @answer %></h2>
<%# <h2 class="display-2"><%= @responce %></h2>

<span class="badge badge-primary"><%= link_to "Back askingðŸ”", ask_path %></span>
